main-header {
  color: black;
  display: flex;
  justify-content: center;
}

#title_Color {
  display: inline-block;
  padding: 4px;
  background-color: #606060;
  border: 1px solid gray;
  border-radius: 20%;
}
#title_C  { color: #ff0000 }
#title_o1 { color: #00ff00 }
#title_l  { color: #00ffff }
#title_o2 { color: #ff00ff }
#title_r  { color: #ff8080 }
