@import './themes/colors';
@import './themes/fonts';

.main-header {
  color: black;
  display: flex;
  justify-content: center;
  background-color: $banner-background-color;
  border: solid 2px black;
  font-family: $mainHeaderFont;
}

.mainPageTitle {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}


#title_Color {
  padding: 8px;
  background-color: black;
  border: 1px solid gray;
  border-radius: 30%;
  margin: 0 5px;
}
#title_C  { color: #ff0000 }
#title_o1 { color: #00ff00 }
#title_l  { color: #00ffff }
#title_o2 { color: #ff00ff }
#title_r  { color: #ff8080 }
