<div id='controls'>
  <h4>Image Name: <span class='cool-font'>{{svg.name}} </span> </h4>
  <div ng-show='added'>
    <button ng-click='svg.reset()'> Reset To Blank </button>
    <button ng-click='svg.lastSaved()'> Remove Changes </button>
    <button ng-click='svg.save()'> Save </button>
    <button ng-click='svg.delete()'>Delete</button>
  </div>
    <button ng-hide='added' ng-click="addToPersonal()">Color</button>
</div>

<div ng-show="updated">Updated!</div>

<div class='svgContainer'>
  <div id='svgImage' ng-click='svg.color($event)' ng-bind-html='svg.image'></div>
  <div ng-show='added'>
    <color-picker ng-model="svg.chosenColor"></color-picker>
    <div id='colorPallette'> current color :
      <span id='currentColor' style='background-color: {{svg.chosenColor}};'></span>
    </div>
  </div>
</div>
