
<div id='controls'>
  <h5>Image Name: {{svg.name}} </h5>
  <button ng-click='svg.reset()'> Reset To Blank </button>
  <button ng-click='svg.lastSaved()'> Remove Changes </button>
  <button ng-click='svg.save()'> Save </button>
  <button ng-click='svg.delete()'> Delete </button>
</div>

<div id='color'>

  <div id='svgImage' ng-click='svg.color($event)' ng-bind-html='svg.image'> </div>
  <div>
    <color-picker ng-model="color">
    </color-picker>
    <div id='colorPallette'> current color :
      <span id='currentColor' style='background-color: {{color}};'> </span>
    </div>
  </div>
</div>
