<h3 class='center'> Category: <span class='cool-font'>{{selectedCategory}} </span> </h3>
<div class='svgContainer'>
  <div class='svgListInfo' ng-repeat='image in svgImages' ui-sref='color.svg({svgId: image._id})'>
    <div>Title: {{image.title}} </div>
    <div class='svgListImage' ng-bind-html='image.svg'> </div>
  </div>
</div>

<div class='center'>
  <ul class='seeMoreImages'>
      <li>See More: </li>
      <li ng-repeat="page in pages track by $index">
        <a ui-sref='{page:($index+1)}'>{{$index+1}}</a>
      </li>
  </ul>
</div>
